/ReCogidas/dist/
/ImportData/nbproject/private/
/ImportData/build/
/ImportData/dist/
ReCogidas/nbproject/private/private.properties
ReCogidas/nbproject/private/private.xml
ReCogidas/nbproject/ant-deploy.xml
ReCogidas/nbproject/private/private.properties
ReCogidas/nbproject/project.properties
*.class
